@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #13054b;
  --verde: #6FFF57;
  --branco: #FFFFFF;
  --botao-ativo: #41040e;
  --botao-inativo: rgba(148, 247, 19, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}
